.Logo {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 25.4px;
  font-weight: 900;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.3px;
  top: 0;
  width: 145px;

  text-decoration: none;
}
